/* Links to css files */
@import url('./login.css');
@import url('./sidebar.css');
@import url('./topheader.css');
@import url('./footer.css');
@import url('./hero.css');
@import url('./overview.css');
@import url('./overview_courses.css');
@import url('./features.css');

@import url('./calendar.css');
@import url('./tasks.css');

/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #9fded9;
  color: #222;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 40px 48px;
}

.card {
  background: #69c8c4;
  border-radius: 16px;
  padding: 20px;
  margin-top: 20px;
}

.landing-page {
  margin: 0;
  background: #b9efea;
  color: #222;
  font-family: Arial, sans-serif;
}

/* Anpassning för surfplatta och mindre datorskärmar */
@media (max-width: 1024px) {

  .main-content {
    padding: 24px 20px;
  }
}


/* Anpassning för mobil */
@media (max-width: 480px) {

  .layout {
    flex-direction: column;
  }

  .main-content {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    min-width: 0;
  }
}